img {
    border-radius: 4px;
}

#keywords {
    margin-bottom: 8px;
}

#keywords p{
    color: #2175ff;
}

h2 + h2,
h3 + h3 {
    margin-top: -24px;
}

small {
    font-weight: normal;
    font-size: 13px;
    color: rgba(0,0,0,.38);
}

p{
    color: rgba(0,0,0,.6);
}

#cityImage{
    width: 100%;
    height: 240px;
}

#cityImage img{
    border-radius: 0;
}

#routes-list p:nth-child(3){
    color: #2175ff;
}

#routes-con{
    width: 100%;
}

#routes-list{
    width: 100%;
}

#routes p{
    color: rgba(0,0,0,.87);
    margin-left: 8px;
}

#routes i{
    margin-right: 8px;
}

#routes-con{
    display: inline-flex;
}

.box{
    padding: 15px;
    background-color: #fafafa;
    border-radius: 8px;
}

#routes-line{
    width: 14px;
    height: 214px;
    margin-left: 24px;
    margin-top: 22px;
    position: relative;
}

.line{
    width: 1px;
    height: 100%;
    margin-left: 3px;
    background-color: rgba(0,0,0,.12);
    position: absolute;
    top: 0;
}

.dot-box{
    width: 14px;
    height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.dot{
    width: 6px;
    height: 6px;
    border-radius: 4.5px;
}

.dot:first-child,.dot:last-child{
    border: 1px solid rgba(0,0,0,.38);
    background-color: #fff;
}

.dot:nth-child(2){
    background-color: #2175ff;
    border: 1px solid #2175ff;
}

.slide-container{
    position: relative;
    /* overflow: hidden; */
    margin-left: 24px;
    margin-right: 24px;
}

.slide-wrapper{
    position: absolute;
    width: 100%;
}

.slide-wrapper.animated{
    transition: left .2s ease-out;
}

.slide{
    position: absolute;
    overflow: hidden;
    top: 0;
}

.slide p{
    margin-left: 0;
    margin-right: 0;
}

#prev,#next{
    position: absolute;
    z-index: 100;
    height: 24px;
    width: 24px;
    background-color: rgba(255,255,255,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

#prev{
    top: 96px;
    left: 8px;
}

#next{
    top: 96px;
    right: 8px;
}

#prev.disabled, #next.disabled{
    display: none;
}

