#container {
    max-width: 720px;
    margin: 0 auto;
}

#nav {
    max-width: 280px;
    float: left;
    top: 0;
    bottom:0;
    position: fixed;
    overflow-y:scroll;
}

#nav, #nav ul, #nav li {
    list-style: none;
}

#nav ul {
    padding: 0;
    margin: 8px 0 0 0;
}

#nav a:hover, #nav ul > li.active > a {
    color: #f63d58;
}

#nav li a {
    color: rgba(0, 0, 0, .6);
    font-size: 14px;
    line-height: 18px;
}

#nav > li {
    margin: 16px 0;
}

#nav > li > a {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}

#nav > li.active > a {
    color: #f63d58;
}

#nav > li.active > a:after {
    content: '';
    display: inline-block;
    margin: 0 0 2px 8px;
    width: 4px;
    height: 4px;
    border-right: 2px solid #f63d58;
    border-bottom: 2px solid #f63d58;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    -webkit-transition: .25s ease-out !important;
    -moz-transition: .25s ease-out !important;
    -o-transition: .25s ease-out !important;
    transition: .25s ease-out !important;
}

#nav > li > a:after {
    content: '';
    display: inline-block;
    margin: 0 0 0 8px;
    width: 4px;
    height: 4px;
    border-right: 2px solid rgba(0, 0, 0, .6);
    border-bottom: 2px solid rgba(0, 0, 0, .6);
    -webkit-transform: rotate(-135deg) !important;
    -moz-transform: rotate(-135deg) !important;
    -o-transform: rotate(-135deg) !important;
    transform: rotate(-135deg) !important;
    -webkit-transition: .25s ease-out !important;
    -moz-transition: .25s ease-out !important;
    -o-transition: .25s ease-out !important;
    transition: .25s ease-out !important;
}

#content {
    max-width: 360px;
    float: right;
}

#content > p:first-child {
    margin: 0;
}

#content > p:first-child img {
    margin-top: 0;
    margin-bottom: 16px;
    border-radius: 0;
}