
img {
    border-radius: 4px;
}

#keywords {
    margin-bottom: 8px;
}

#keywords p{
    color: #e5435d;
}

/* #intro h3{
    width: 40%;
} */

h2 + h2,
h3 + h3 {
    margin-top: -24px;
}

small {
    font-weight: normal;
    font-size: 13px;
    color: rgba(0,0,0,.38);
}

#cityImage{
    width: 100%;
    height: 440px;
    
}

#cityImage img{
    border-radius: 0;
    width: 100%;
    height: 440px;
    object-fit: cover;
    
}

/* routes */
#routes-list p:nth-child(3){
    color: #e5435d;
}

#routes-con{
    width: 100%;
}

#routes-list{
    width: 100%;
}

#routes p{
    color: rgba(0,0,0,.87);
    margin-left: 8px;
}

#routes i{
    margin-right: 8px;
}

#routes-con{
    display: inline-flex;
}

.box{
    padding: 15px;
    background-color: #fafafa;
    border-radius: 8px;
}

#routes-line{
    width: 14px;
    height: 214px;
    margin-left: 24px;
    margin-top: 20px;
    position: relative;
}

.line{
    width: 1px;
    height: 100%;
    margin-left: 3px;
    background-color: rgba(0,0,0,.12);
    position: absolute;
    top: 0;
}

.dot-box{
    width: 14px;
    height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.dot{
    width: 6px;
    height: 6px;
    border-radius: 4.5px;
}

.dot:first-child,.dot:last-child{
    background-color: rgba(0,0,0,.87);
}

.dot:nth-child(2){
    background-color: #e5435d;
    border: 1px solid #e5435d;
}

/* articles */
.slide-container{
    position: relative;
    overflow: hidden;
    margin-left: 24px;
    margin-right: 24px;
    min-height: 480px;
}

.slide-wrapper{
    position: absolute;
    width: 100%;
    min-height: 480px;
}

.slide-wrapper.animated{
    transition: left .2s ease-out;
}

.slide{
    position: absolute;
    overflow: hidden;
    top: 0;
}

.slide h4{
    margin-left: 0;
    margin-top: 16px;
    margin-bottom: 4px;
}

.slide p{
    margin: 0;
}

.slide img{
    min-width: 100%;
    max-height: 208px;
    object-fit: cover;
    object-position: center;
}

#prev,#next{
    position: absolute;
    z-index: 100;
    height: 24px;
    width: 24px;
    background-color: rgba(255,255,255,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

#prev{
    top: 96px;
    left: 8px;
}

#next{
    top: 96px;
    right: 8px;
}

#prev.disabled, #next.disabled{
    display: none;
}

/* phrases */
#phrases-container{
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.phrases{
    display: inline-flex;
    padding: 12px 16px;
    border: 1px solid rgba(0,0,0,.12);
    margin: 4px 0;
    border-radius: 0 12px 12px 12px;
}

.phrases p{
    margin: 0;
}

.phrases p:first-child{
    color: #e5435d;
    margin-right: 8px;
}

/* weather */
.today{
    margin-right: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.today h1:first-child{
    margin: 16px;
    font-size: 56px;
}

.today h1:nth-child(2){
    margin: 0;
}

.today h5{
    margin: 0;
}

.today p{
    margin: 0;
}

.week{
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.weaterCard h3{
    margin: 0;
    font-size: 32px;
}

.weaterCard h5{
    margin: 8px 0 0 0;
}

.weaterCard p{
    margin: 0;
    font-size: 12px;
}

.weaterCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#season{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    padding: 12px 12px 4px 12px;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#season div{
    width: 50%;
    margin-bottom: 8px;
    display: flex;
}

#season div h5{
    margin: 0 8px 0 4px;
}

#season div p{
    margin: 0;
}


/* info */
#info-container{
    margin-left: 24px;
    margin-right: 24px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 48px);
}

#info-container div{
    background-color: #f5f5f5;
    width: calc(50% - 36px);
    min-height: 100px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 8px;
}

#info-container div:nth-child(even){
    margin-right: 0;
}

#info-container div p, #info-container div h5{
    margin: 0;
}

#info-container div i{
    font-size: 24px;
}



