$black-87: rgba(0, 0, 0, .87);
$black-60: rgba(0, 0, 0, .6);
$black-38: rgba(0, 0, 0, .38);
$black-12: rgba(0, 0, 0, .12);
$black-04: rgba(0, 0, 0, .04);
$white: #ffffff;
$white-60: rgba(255, 255, 255, 0.6);
$white-12: rgba(255, 255, 255, 0.12);
$smoke: #fafafa;
$blue: #2175ff;
$blue-12: rgba(33, 117, 255, 0.12);
$green: #26d9ad;
$red: #d62741;
$warning: #ff625f;
$pink: #ff705e;
$yellow: #ffc019;
$kakao-yellow: #ffeb00;
$kakao-brown: #3c1e1e;

$border: 1px solid $black-12;