#container {
    max-width: 720px;
    margin: 0 auto;
}

#nav {
    max-width: 280px;
    min-width: 200px;
    float: left;
    top: 0;
    bottom:0;
    position: fixed;
    overflow-y:scroll;

    > li {
        > a {
            &:after {
                content: '';
                display: inline-block;
                margin: 0 0 2px 8px;
                width: 4px;
                height: 4px;
                border-right: 2px solid $black-60;
                border-bottom: 2px solid $black-60;
                -webkit-transform: rotate(45deg) !important;
                -moz-transform: rotate(45deg) !important;
                -o-transform: rotate(45deg) !important;
                transform: rotate(45deg) !important;
                -webkit-transition: .25s ease-out !important;
                -moz-transition: .25s ease-out !important;
                -o-transition: .25s ease-out !important;
                transition: .25s ease-out !important;
            }
        }

        > ul {
            padding: 0 24px 0 0;
            margin: 8px 0 16px 8px;

            a {
                color: $black-60;
                margin-bottom: 8px;
                @include body2;
            }
        }

        .active {
            > a {
                color: $pwRed;

                &:after {
                    border-right: 2px solid $pwRed !important;
                    border-bottom: 2px solid $pwRed !important;
                }
            }
        }
    }

    .open {
        > a {
            &:after {
                content: '';
                display: inline-block;
                margin: 0 0 2px 8px;
                width: 4px;
                height: 4px;
                border-right: 2px solid $black-60;
                border-bottom: 2px solid $black-60;
                -webkit-transform: rotate(-135deg) !important;
                -moz-transform: rotate(-135deg) !important;
                -o-transform: rotate(-135deg) !important;
                transform: rotate(-135deg) !important;
                -webkit-transition: .25s ease-out !important;
                -moz-transition: .25s ease-out !important;
                -o-transition: .25s ease-out !important;
                transition: .25s ease-out !important;
            }
        }
    }
}

#nav, #nav ul, #nav li {
    list-style: none;
}

#content {
    max-width: 360px;
    float: right;

    p {
        &:first-child {
            @include margin0;

            img {
                margin-top: 0;
                margin-bottom: 16px;
                border-radius: 0;
            }
        }
    }
}