#container {
    max-width: 720px;
    margin: 0 auto;

    @include breakPointM {
        @include flexColCen;
    }
}

#nav {
    max-width: 280px;
    min-width: 200px;
    float: left;
    top: 0;
    bottom:0;
    position: fixed;
    overflow-y:scroll;

    > li {
        > a {
            color: $black-87;
            
            &:after {
                content: '';
                display: inline-block;
                margin: 0 0 2px 8px;
                width: 4px;
                height: 4px;
                border-right: 2px solid $black-60;
                border-bottom: 2px solid $black-60;
                -webkit-transform: rotate(45deg) !important;
                -moz-transform: rotate(45deg) !important;
                -o-transform: rotate(45deg) !important;
                transform: rotate(45deg) !important;
                -webkit-transition: .25s ease-out !important;
                -moz-transition: .25s ease-out !important;
                -o-transition: .25s ease-out !important;
                transition: .25s ease-out !important;
            }
        }

        > ul {
            padding: 0 24px 0 0;
            margin: 8px 0 16px 8px;

            a {
                color: $black-60;
                margin-bottom: 8px;
                @include body2;
            }
        }

        .active {
            > a {
                color: $pwRed;

                &:after {
                    border-right: 2px solid $pwRed !important;
                    border-bottom: 2px solid $pwRed !important;
                }
            }
        }

        p {
            color: $black-60;
            margin-left: 0;
            margin-right: 0;
        }

        @include breakPointM {
            padding: 4px;
        }
    }

    .open {
        > a {
            &:after {
                content: '';
                display: inline-block;
                margin: 0 0 2px 8px;
                width: 4px;
                height: 4px;
                border-right: 2px solid $black-60;
                border-bottom: 2px solid $black-60;
                -webkit-transform: rotate(-135deg) !important;
                -moz-transform: rotate(-135deg) !important;
                -o-transform: rotate(-135deg) !important;
                transform: rotate(-135deg) !important;
                -webkit-transition: .25s ease-out !important;
                -moz-transition: .25s ease-out !important;
                -o-transition: .25s ease-out !important;
                transition: .25s ease-out !important;
            }
        }
    }

    @include breakPointM {
        display: none;
        max-width: 100vw;
        width: 320px;
        background-color: $white;
        z-index: 2;
        padding: 98px 24px 24px 24px;
        margin: 0;
        float: none;
    }
}

#nav, #nav ul, #nav li {
    list-style: none;
}

#content {
    max-width: 360px;
    float: right;

    #cityImage {

        button {
            display: none;
            width: 32px;
            height: 32px;
            margin: 24px;
            z-index: 2;
            position: absolute;
            background-color: $black-38;
    
            i {
                line-height: 16px;
                font-size: 16px;
            }
    
            @include breakPointM {
                display: block;
                @include flexColCen;
            }
    
        }
    }

    @include breakPointM {
        float: none;
    }
}