h2 {
    del {
        font-size: 20px;
        color: $black-60;
        font-weight: normal;
    }
}

h2 + h2,
h3 + h3 {
    margin-top: -16px;
}

small {
    @include body2;
}

strong {
    color: $pwRed;
}

body {
    p {
        &:first-child {
            margin: 0;

            img {
                margin-top: 0;
                margin-bottom: 16px;
                border-radius: 0;
            }
        }
    }
}


.graph-on {
    height: 8px;
    border-radius: 4px;
    background-color: $pwRed;
}

.graph-bg {
    width: calc(100% - 48px);
    height: 8px;
    border-radius: 4px;
    margin: -8px 24px 8px 24px;
    background-color: $black-04;
}