img {
    @include borderR4;
    margin-bottom: 16px;
}

h3 {
    margin-top: 32px;
    line-height: 24px;
    font-size: 18px;

    small {
        font-size: 14px;
    }

    span {
        color: $pwRed;
        font-size: 14px;
        margin-bottom: 8px;
    }
}

h4 {
    font-size: 16px;

    small {
        font-size: 14px;
    }

}

h5 {
    margin-top: 40px;
    margin-bottom: 24px;

    &:after {
        content: '';
        display: block;
        margin-top: 2px;
        width: 16px;
        height: 2px;
        background-color: $black-87;
    }
}

h1 + h1,
h2 + h2,
h3 + h3 {
    margin-top: -24px;
}

p {
    color: $black-87;
    margin-top: 0;

    strong {
        color: $black-87;

        span {
            font-weight: normal;
        }
    }

    img {
        margin-bottom: 0;
    }
}

hr {
    margin-top: 32px !important;
}

// topImage
#cityImage{
    height: 440px;
    width: $w100;
    color: $white;
    position: relative;

    .titleBadge {
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 5px 13px;
        font-size: 11px;
        line-height: 14px;
        font-weight: bold;
        background-color: $black-12;
        border: 1px solid $white;
        border-radius: 17px;
    }

    img {
        height: 440px;
        object-fit: cover;
        width: $w100;
        @include borderR0;
    }

    #titleContainer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,.0), $black-60);

        h1 {
            white-space: pre;

            small {
                @include body2;
                color: $white;
            }

        }

        #subTitle {
            color: $white;
            margin-bottom: 32px;
            line-height: 20px;
            font-size: 14px;
            margin-top: 0;
            font-weight: normal;
            line-height: 22px;

            small {
                font-size: 14px;
            }
        
            span {
                color: $pwRed;
                font-size: 14px;
            }
    }
}
}


em {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    @include flexColCen;

    &::before {
        content: url('https://res.cloudinary.com/kyte/image/authenticated/s--FvVLAOVd--/v1593743256/web/double-quotes-l.svg');
        opacity: .3;
        display: block;
        height: 24px;
        margin-bottom: 8px;
    }

    &::after {
        content: url('https://res.cloudinary.com/kyte/image/authenticated/s--CP6SjiI6--/v1593743256/web/double-quotes-r.svg');
        opacity: .3;
        display: block;
        height: 24px;
        margin-top: 8px;
    }
}

blockquote {
    background-color: $lgray;
    color: $black-60;
    padding: 16px;
    @include borderR4;

    p {
       margin-left: 0;
       margin-right: 0;
       margin-top: 0px;
       color: $black-60;

        small {
            font-size: 11px;
        }
    }

    ul {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        border: none;
    }

    hr {
        margin-top: 24px;
        margin-bottom: 24px;
        border: 0;
        height: 1px;
        background-color: $black-12;
    }

}

small{
    font-size: 11px;
}

ul {
    color: $black-60;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 24px;

    li {
        margin-bottom: 0;
        list-style: none;

        &:first-child {
            margin-top: 4px;

            strong {
                font-weight: bold;
            }
        }
        
        strong {
            margin-right: 8px;
            color: $black-87;
            font-weight: normal;
        }   
    }
}

// Intro
#cityImage {
    width: $w100;
    height: 440px;

    img {
        height: 440px;
        object-fit: cover;
        width: $w100;
        @include borderR0;
    }
}

#title {
    margin-bottom: 32px;

    h2 {
        @include body1;
        color: $black-60;
        margin-top: 0;
    }
}

